<!-- PAGE HEADER -->
<section class="page-header">
  <div class="page-header__shape-left"></div>
  <div class="page-header__shape-right"></div>
  <div class="page-header__bg"></div>

  <div class="container text-center">
    <h2 class="page-header__title bw-split-in-down">Gallery</h2>
    <ul class="alefox-breadcrumb list-unstyled d-flex justify-content-center gap-2">
      <li><a href="index.html">Home</a></li>
      <li><span>Gallery</span></li>
    </ul>
  </div>
</section>
<!-- PAGE HEADER END -->


<!-- GALLERY GRID -->
<section class="gallery-one py-5">
  <div class="container-fluid">
    <div class="gallery-masonry">
      @for (item of gallleryAll; track item) {
      <div class="gallery-one__card">
        <img [src]="item?.image?.url" alt="gallery image">
        <div class="gallery-one__overlay">
          <h5 class="gallery-one__title">{{ item?.title }}</h5>
          <p class="gallery-one__desc">{{ item?.description }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<!-- GALLERY GRID END -->
