
   <section class="page-header">
            <div class="page-header__shape-left"></div>
            <div class="page-header__shape-right"></div>
            <div class="page-header__bg"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title bw-split-in-down">Industrial</h2>
                <ul class="alefox-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Industrial</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
                <br>
                <ul class="subpoints">
                    <h5>
                        <li>Complete design, execution, training, and operations support..
                        </li>
                        <li>Built to handle large volumes with energy-efficient systems.
                        </li>
                    </h5>
                </ul>
            </div><!-- /.container -->
        </section><!-- /.page-header -->


        <!-- Service Start -->
        <section class="service-two">
            <div class="container">
                <h3 class="service-details__heading">Maximize Productivity with Scalable, Tech-Driven Farm Systems.</h3>
                <!-- /.service-details__heading -->
                <p class="service-details__text">
                    Our industrial-grade setups are built for.</p>
                <!-- /.service-details__text -->
                <div class="row gutter-y-30">
                    <div class="col-lg-3 col-md-6">
                        <div class="service-two__item wow fadeInUp" data-wow-delay="00ms">
                            <div class="service-two__item__image">
                                <img src="assets/images/pintrest/ind.jpg" alt="Mazra">
                            </div>
                            <div class="mt-0 service-two__item__content">
                                <h3 class="service-two__item__title">
                                    <a href="#">Labor Camps & Worker Housing</a>
                                </h3><!-- /.service-title -->
                                <p class="service-two__item__text">
                                    Grow fresh food on-site and reduce logistics. </p><!-- /.service-text -->
                                <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                            </div>
                        </div><!-- /.service-item -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-two__item wow fadeInUp" data-wow-delay="100ms">
                            <div class="service-two__item__image">
                                <img src="assets/images/pintrest/indr3.jpg" alt="Mazra">
                            </div>
                            <div class="mt-0 service-two__item__content">

                                <h3 class="service-two__item__title">
                                    <a href="#">Large Greenhouses & Polyhouses</a>
                                </h3><!-- /.service-title -->
                                <p class="service-two__item__text">
                                    Fully-integrated hydroponic farms with climate control.</p>
                                <!-- /.service-text -->
                               <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                            </div>
                        </div><!-- /.service-item -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-two__item wow fadeInUp" data-wow-delay="200ms">
                            <div class="service-two__item__image">
                                <img src="assets/images/pintrest/indr2.jpg" alt="Mazra">
                            </div>
                            <div class="mt-0 service-two__item__content">
                                <h3 class="service-two__item__title">
                                    <a href="#">Export-Oriented Farms</a>
                                </h3><!-- /.service-title -->
                                <p class="service-two__item__text">
                                    High-yield, export-quality crop production with market access. </p>
                                <!-- /.service-text -->
                                <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                            </div>
                        </div><!-- /.service-item -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-two__item wow fadeInUp" data-wow-delay="300ms">
                            <div class="service-two__item__image">
                                <img src="assets/images/pintrest/pack.jpg" alt="Mazra">
                            </div>
                            <div class="mt-0 service-two__item__content">
                                <h3 class="service-two__item__title">
                                    <a href="#">Packaging & Processing Units</a>
                                </h3><!-- /.service-title -->
                                <p class="service-two__item__text">
                                    Value-add infrastructure for drying, bottling, or packaging produce. </p>
                                <!-- /.service-text -->
                                <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                            </div>
                        </div><!-- /.service-item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Service End -->





        <section class="pt-5" style="margin-bottom: 40px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-12">
                        <img src="assets/images/resources/resid.jpg" class="img-fluid" alt="">
                    </div>
                     <div class="col-md-6 col-lg-3 col-sm-12">
                        <img src="assets/images/resources/resid1.jpg" class="img-fluid" alt="">
                    </div>
                     <div class="col-md-6 col-lg-3 col-sm-12">
                        <img src="assets/images/resources/resid2.jpg" class="img-fluid" alt="">
                    </div>
                     <div class="col-md-6 col-lg-3 col-sm-12">
                        <img src="assets/images/resources/resid3.jpg" class="img-fluid" alt="">
                    </div>

                     <div class="col-md-6 col-lg-6 col-sm-12 pt-4" >
  <!-- <video autoplay muted loop playsinline style="max-width: 100%; height: auto; ">
    <source src="assets/images/video/green1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
</div>

  <div class="col-md-6 col-lg-6 col-sm-12 pt-4" >
  <!-- <video autoplay muted loop playsinline style="max-width: 100%; height: auto; ">
    <source src="assets/images/video/farm2.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
</div>

                </div>
            </div>
        </section>

     <!-- Video -->
