<section class="page-header">
    <div class="page-header__shape-left"></div>
    <div class="page-header__shape-right"></div>
    <div class="page-header__bg"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2 class="page-header__title bw-split-in-down">Blog List</h2>
        <ul class="alefox-breadcrumb list-unstyled">
            <li><a routerLink="/home">Home</a></li>
            <li><span>Blog List</span></li> <br>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
        <br>

    </div><!-- /.container -->
</section><!-- /.page-header -->


<section class="blog-one">
    <div class="container">
        <div class="row gutter-y-30">
            <div class="col-md-6 col-lg-4">
                <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                    <div class="blog-card__image">
                        <img src="assets/images/blog/blog-1-1.jpg" alt="This Leader in Organic Agriculture Growth">
                        <img src="assets/images/blog/blog-1-1.jpg" alt="This Leader in Organic Agriculture Growth">
                        <a href="blog-details-right.html" class="blog-card__image__link"><span class="sr-only">This
                                Leader in Organic Agriculture Growth</span>
                            <!-- /.sr-only --></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <ul class="list-unstyled blog-card__meta">
                            <li><i class="icofont-ui-user"></i>Admin: <a href="blog-list-right.html">Lorat</a></li>
                           
                        </ul><!-- /.list-unstyled blog-card__meta -->
                        <h3 class="blog-card__title"><a href="blog-details-right.html">This Leader in Organic
                                Agriculture Growth</a></h3><!-- /.blog-card__title -->
                        <p class="blog-card__text">
                            We business standard chunk ofI nibh velit auctor aliquet sollic tudin.
                        </p><!-- /.blog-card__text -->
                        <a href="blog-details-right.html" class="blog-card__link">
                            <i class="icofont-arrow-right"></i>
                            Read more
                        </a><!-- /.blog-card__link -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
            <div class="col-md-6 col-lg-4">
                <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                    <div class="blog-card__image">
                        <img src="assets/images/blog/blog-1-2.jpg" alt="How to Findout Healthy Food For Body">
                        <img src="assets/images/blog/blog-1-2.jpg" alt="How to Findout Healthy Food For Body">
                        <a href="blog-details-right.html" class="blog-card__image__link"><span class="sr-only">How to
                                Findout Healthy Food For Body</span>
                            <!-- /.sr-only --></a>
                    </div><!-- /.blog-card__image -->
                    <div class="blog-card__content">
                        <ul class="list-unstyled blog-card__meta">
                            <li><i class="icofont-ui-user"></i>Admin: <a href="blog-list-right.html">Lorat</a></li>
                    
                        </ul><!-- /.list-unstyled blog-card__meta -->
                        <h3 class="blog-card__title"><a href="blog-details-right.html">How to Findout Healthy Food For
                                Body</a></h3><!-- /.blog-card__title -->
                        <p class="blog-card__text">
                            We business standard chunk ofI nibh velit auctor aliquet sollic tudin.
                        </p><!-- /.blog-card__text -->
                        <a href="blog-details-right.html" class="blog-card__link">
                            <i class="icofont-arrow-right"></i>
                            Read more
                        </a><!-- /.blog-card__link -->
                    </div><!-- /.blog-card__content -->
                </div><!-- /.blog-card -->
            </div><!-- /.col-md-6 col-lg-4 -->
             
            <div class="col-md-12">
                <ul class="post-pagination blog-page__pagination">
                    <li>
                        <a href="blog-list.html">1</a>
                    </li>
                    <li>
                        <a class="current" href="blog-list-right.html">2</a>
                    </li>
                    <li>
                        <a href="blog-list-right.html"><span class="icofont-double-right"></span></a>
                    </li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-one blog-one--page -->