    <section class="page-header">
        <div class="page-header__shape-left"></div>
        <div class="page-header__shape-right"></div>
        <div class="page-header__bg"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title bw-split-in-down">Terms and Conditions</h2>
            <ul class="alefox-breadcrumb list-unstyled">
                <li><a routerLink="/home">Home</a></li>
                <li><span>Terms and Conditions</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->



    <div class="container my-5 p-4 mazrapolicy">
        <h2 class="text-center mb-5 section-title">Mazra Care Terms & Conditions</h2>

        <div class="mb-4">
            <h4> General</h4>
            <ul>
                <li>Mazra Care provides customized, turnkey hydroponic, aquaponic, and
                    aeroponic farming solutions. The services include consultation, design, system
                    installation, training, maintenance, harvesting, and sales support.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Agreement Validity </h4>
            <ul>
                <li> All proposals are valid for 30 days. A signed agreement is required before
                    work commences.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Payment Terms </h4>
            <ul>
                <li>10% on confirmation of agreement.</li>
                <li>30% Before starting work.</li>
                <li>40% on mid-stage completion.</li>
                <li>20% after final project handover</li>
                <li>All payments are non-refundable once work begins.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Ownership & Intellectual Property</h4>
            <ul>
                <li>All designs, proprietary farming techniques, and training materials remain the
                    intellectual property of Mazra Care unless otherwise agreed upon in writing.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Delivery Timelines</h4>
            <ul>
                <li>Project schedules will be mutually agreed upon. Delays due to force
                    majeure, weather, or client delays are not Mazra Care's responsibility.</li>
            </ul>
        </div>

        <div>
            <h4> Warranty & AMС</h4>
            <ul>
                <li>All installed systems include a 36-month limited warranty. Annual
                    Maintenance Contracts are available at an additional cost.</li>
            </ul>
        </div>
        <div class="mb-4">
            <h4> Site Access</h4>
            <ul>
                <li>Client must provide clear, safe access to the site during working hours for
                    uninterrupted progress.</li>
            </ul>
        </div>
        <div class="mb-4">
            <h4> Liability Clause</h4>
            <ul>
                <li>Mazra Care is not liable for crop failure due to negligence, pest infestations,
                    or force majeure events.</li>
            </ul>
        </div>
    </div>