    <section class="page-header">
        <div class="page-header__shape-left"></div>
        <div class="page-header__shape-right"></div>
        <div class="page-header__bg"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title bw-split-in-down">Policy Guidelines</h2>
            <ul class="alefox-breadcrumb list-unstyled">
                <li><a routerLink="/home">Home</a></li>
                <li><span>Policy Guidelines</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.container -->
    </section><!-- /.page-header -->



    <div class="container my-5 p-4 mazrapolicy">
        <h2 class="text-center mb-5 section-title">Mazra Care Policy Guidelines</h2>

        <div class="mb-4">
            <h4> Safety Policy</h4>
            <ul>
                <li>All Mazra Care staff follow strict safety protocols during installation and maintenance.</li>
                <li>Use of PPE is mandatory on all sites.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Environmental Policy</h4>
            <ul>
                <li>Commitment to zero-soil farming methods.</li>
                <li>Maximum water recycling.</li>
                <li>Organic and biodegradable media and pest control.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Farm Maintenance Guidelines</h4>
            <ul>
                <li>Daily monitoring of pH, EC, and water levels is required.</li>
                <li>Pruning and cleaning schedules must be followed.</li>
                <li>Monthly checkups and calibration of systems.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Crop Rotation & Management</h4>
            <ul>
                <li>Suggested crop rotation plans are provided to maintain soil-free nutrient balance.</li>
                <li>Seasonal adaptation strategies included in training.</li>
            </ul>
        </div>

        <div class="mb-4">
            <h4> Harvesting & Post-Harvest</h4>
            <ul>
                <li>Proper handling procedures during harvest.</li>
                <li>Post-harvest cold storage and packaging support available.</li>
            </ul>
        </div>

        <div>
            <h4> Sales & Distribution Policy</h4>
            <ul>
                <li>Option to partner with Mazra Care for market distribution.</li>
                <li>Profit-sharing terms or fixed-price purchase models available.</li>
            </ul>
        </div>
    </div>
