<div>
  <footer class="main-footer background-black">
    <div class="main-footer__bg background-black"
      style="background-image: url(assets/images/backgrounds/footer-bg-1-1.jpg);"></div>
    <!-- /.main-footer__bg -->
    <div class="main-footer__top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="footer-widget footer-widget--about h-100">
              <a routerLink="/home" class="footer-widget__logo">
                <img src="../assets/images/logo-light.png" width="147" alt="mazra">
              </a>
              <ul class="list-unstyled footer-widget__info">
                <li>
                  <span class="footer-widget__info__icon"><i class="icofont-location-pin"></i></span>
                  Mufateeh Al Makhazan Stores Management,
                  Building 2, Dubai Investment Park Second.
                  PO BOX 79998
                  UAE

                </li>

                <li>
                  <span class="footer-widget__info__icon"><i class="icofont-email"></i></span>
                  <a href="#">ceo&#64;mazracare.com <br> growth&#64;mazracare.com</a>
                </li>
                <li>
                  <span class="footer-widget__info__icon"><i class="icofont-phone"></i></span>
                  <a href="tel:+00971545233222">+971 582169786 <br> +971 581985533</a>
                </li>

              </ul>
              <!-- /.list-unstyled -->
              <div class="footer-widget__social">
                <a
                  href="https://www.facebook.com/mazracare?mibextid=wwXIfr&rdid=4LJEMBpK7zJa6h0s&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1BgoKQwvH1%2F%3Fmibextid%3DwwXIfr#">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                  <span class="sr-only">Facebook</span>
                </a>
                <a href="https://www.youtube.com/@mazracare">
                  <i class="fab fa-youtube"></i>
                  <span class="sr-only">YouTube</span>
                </a>
                <a
                  href="https://www.linkedin.com/in/mazra-care-63b668370/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                  <i class="fab fa-linkedin-in"></i>
                  <span class="sr-only">LinedIn</span>
                </a>


                <a href="https://www.instagram.com/mazra_care/?igsh=ZnRoeWc5NW9tNjZ5#">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
                </a>
              </div>
              <!-- /.footer-widget__social -->
            </div>
            <!-- /.footer-widget -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6 col-xl-3">
            <div class="footer-widget footer-widget--links h-100">
              <h2 class="footer-widget__title">Service</h2>
              <!-- /.footer-widget__title -->
              <ul class="list-unstyled footer-widget__links">
                <li><a routerLink="/institutional">Institutional</a></li>
                <li><a routerLink="/residential">Residential</a></li>
                <li><a routerLink="/commercial">Commercial</a></li>
                <li><a routerLink="/industrial">Industrial</a></li>
                <li><a routerLink="/policy-guidelines">Policy Guidelines</a></li>
              </ul>
              <!-- /.list-unstyled footer-widget__links -->
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6 col-xl-2">
            <div class="footer-widget footer-widget--links footer-widget--links-two">
              <h2 class="footer-widget__title">Links</h2>
              <!-- /.footer-widget__title -->
              <ul class="list-unstyled footer-widget__links">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/career">Career</a></li>
                <li><a routerLink="/about">About us</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/terms-conditions">Terms and Conditions</a></li>
              </ul>
              <!-- /.list-unstyled footer-widget__links -->
            </div>
            <!-- /.footer-widget -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6 col-xl-3">
            <div class="footer-widget footer-widget--blog">
              <h5 class="footer-widget__title">Recent Posts</h5>
              <!-- /.footer-widget__title -->
              <ul class="list-unstyled footer-widget__post">
                <li>
                  <img src="../assets/images/blog/w-1.jpg" alt="mazra">
                  <span class="footer-widget__post__date">23 jun 2025</span>
                  <h6 class="footer-widget__post__title"><a href="#">Organic Food for Healty life</a>
                  </h6>
                </li>
                <li>
                  <img src="../assets/images/blog/w-2.jpg" alt="mazra">
                  <span class="footer-widget__post__date">23 jun 2025</span>
                  <h6 class="footer-widget__post__title"><a href="#">Success of Score for Farmer</a>
                  </h6>
                </li>
              </ul>
            </div>
            <!-- /.footer-widget -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.main-footer__top -->
    <div class="main-footer__bottom">
      <div class="container">
        <div class="main-footer__bottom__inner">
          <p class="main-footer__copyright">
            &copy; Copyright <span class="dynamic-year"></span> by mazra care <a class="ps-1"
              routerLink="/policy-guidelines">Policy Guidelines</a>
          </p>
        </div>
        <!-- /.main-footer__inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.main-footer__bottom -->
  </footer>
  <!-- /.main-footer -->
</div>
<!-- /.page-wrapper -->

<!-- back-to-top-start -->
<a href="#" class="scroll-top">
  <svg class="scroll-top__circle" width="100%" height="100%" viewbox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
  </svg>
</a>