::ng-deep.main-slider-one .owl-nav {
    opacity: 0 !important;
}

.testimonials-two__carousel-thumb .item {
    cursor: pointer;
    opacity: 0.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.slick-current {
        opacity: 1;
    }
}


.project-two__carousel {
  margin: 0 auto;

  .item {
    padding: 0 15px;
  }

  .project-two__item {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  .project-two__item img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.blog-one__carousel {
  margin: 0 auto;
  display: flex;
  .item {
    // width: calc(100% / 3);
    padding: 0 15px;
  }
}

@media (max-width: 575.98px) {
  .blog-one__carousel {
  .item {
    // width: 100%;
  }
}
}


.slick-dots {
  display: block;
}

.slick-slide {
  cursor: grab;
}

.about-three{
  padding: 80px;
}

.alefox-btn{
  width: 50% !important;
  text-transform: none !important;
}

.main-text{
  display: flex;
  justify-content: center;
  padding-top: 50px;

  h5{
    font-style: italic;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #107913;
  }
}

.blog-one {
  .owl-carousel .owl-dots {
    margin-top: 20px;
    text-align: center;
  }

  .owl-dot span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    transition: 0.3s;
  }

  .owl-dot.active span {
    background: #2a6d2a;
  }
}

.owl-carousel .owl-item img {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.blog-card__image {
  overflow: visible !important;
  position: relative;
}

.blog-card__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.blog-card__image img {
  transform: translateX(0) scaleX(1) !important;
  opacity: 1 !important;
  filter: none !important;
}

.blog-card:hover .blog-card__image img {
  transform: scale(1.1) !important;
}
