<!-- /.main-header -->
<!-- main-slider-start -->
<section class="main-slider-one">
  <div class="owl-item active">
   <div class="main-slider-one__item">
        <div class="container">
          <div class="main-slider-one__content">
            <h5 class="main-slider-one__sub-title"><span class="sec-title__tagline__left-leaf"
                style="background-image: url(assets/images/shapes/leaf.png);"></span>Welcome to
              <span>Mazra Care !</span>
            </h5>
            <h2 class="main-slider-one__title">
              <span class="main-slider-one__title__leaf"
                style="background-image: url(assets/images/shapes/slider-1-leaf.png);"></span>
              Cultivating Health <br>With Every Harvest
            </h2>
            <p class="main-slider-one__text">
              At Mazra Care, we team up with the world’s most trusted organic <br>producers and
              manufacturers to bring high-quality, sustainable products.
            </p>
            <div class="main-slider-one__btn">
              <a routerLink="/about" class="alefox-btn">
                <span class="alefox-btn__item"></span>
                <span class="alefox-btn__item"></span>
                <span class="alefox-btn__item"></span>
                <span class="alefox-btn__item"></span>
                Discover More
              </a>
            </div>
          </div>
        </div>
        <div class="main-slider-one__layer main-slider-one__video-wrapper">
         <video class="custom_vide0" autoplay muted loop playsinline>
            <source src="assets/images/video/video-3.mp4" type="video/mp4" muted>
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="main-slider-one__shape-one"><img src="assets/images/shapes/slider-1-shape-1.png"
            alt="mazra">
        </div>
        <div class="main-slider-one__shape-two"><img src="assets/images/shapes/slider-1-shape-2.png"
            alt="mazra">
        </div>
        <div class="main-slider-one__shape-three"><img src="assets/images/shapes/slider-1-shape-3.png"
            alt="mazra">
        </div>
      </div>
      </div>
</section>
<!-- main-slider-end -->
<section class="about-three">
  <div class="about-three__shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <video class="custom_vide0" autoplay muted loop playsinline>
            <source src="assets\images\video\Students.mp4" type="video/mp4" muted>
            Your browser does not support the video tag.
          </video>
        <!-- /.about-three__image -->
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6 wow fadeInRight" data-wow-delay="300ms">
        <div class="about-three__content">
          <div class="sec-title text-left">
            <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
                style="background-image: url(assets/images/shapes/leaf.png);"></span> About
              Us<span class="sec-title__tagline__right-leaf"
                style="background-image: url(assets/images/shapes/leaf.png);"></span>
            </h6>
            <h3 class="sec-title__title bw-split-in-left">Let's go Back to the Past Pure Food!.</h3>
            <!-- /.sec-title__title -->
          </div>
          <!-- /.sec-title -->
          <p class="about-three__content__text">
            Mazra Care is a trailblazer in sustainable agriculture and integrated project
            management. We connect farmers, producers, manufacturers, marketplaces, and buyers into
            one seamless ecosystem.
          </p>
          <div class="about-three__content__quote">
            <i class="icon-farmer-two"></i>
            Sustainability starts at home. That’s why we empower families and students through
            organic products and educational programs.
          </div>
          <div class="about-three__content__border"></div>
          <ul class="about-three__content__list">
            <li><span class="icon-check-mark"></span> we guarantee quality, responsibility, and
              transparency in all we do.
            </li>
            <li><span class="icon-check-mark"></span>Creating opportunities that especially empower
              women and youth.
            </li>
            <!-- <li><span class="icon-check-mark"></span>Sparking cross-industry collaborations that
                              lift local entrepreneurs.
                           </li> -->
          </ul>
          <a routerLink="/about" class="alefox-btn">
            <span class="alefox-btn__item"></span>
            <span class="alefox-btn__item"></span>
            <span class="alefox-btn__item"></span>
            <span class="alefox-btn__item"></span>
            About More
          </a>
        </div>
        <!-- /.why-choose-two__content -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.about-three -->


<section class="cta-five">
  <div class="container">
    <div class="cta-five__wrapper">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center wow fadeInLeft" data-wow-delay="100ms">
          <div class="cta-five__content">
            <div class="sec-title text-left">

              <!-- <h4 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span>Revolutionizing Farming with Smart, Sustainable Systems<span class="sec-title__tagline__right-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span></h4>/.sec-title__tagline -->

              <h3 class="bw-split-in-left">Revolutionizing Farming with Smart, Sustainable Systems<span
                  class="sec-title__tagline__right-leaf"
                  style="background-image: url(assets/images/shapes/leaf.png);"></span>
              </h3><!-- /.sec-title__title -->
            </div><!-- /.sec-title -->
            <p>At MAZRA CARE, we specialize in hydroponics, aquaponics, and aeroponics—innovative farming systems
              designed for high-efficiency, chemical-free, and sustainable food production. Whether you're a
              homeowner, a business, or a government institution, we provide turnkey farm solutions tailored to your
              space and goals.</p>
            <p>From compact kitchen gardens to large-scale commercial farms, our systems deliver the highest ROI in
              the market—often within 12 to 14 months. Backed by expert design, execution, and operational support, we
              make future farming easy, accessible, and profitable for everyone</p>
            <p>We serve four key sectors with customized solutions</p>
          </div>
        </div>
        <div class="col-lg-6 text-end wow fadeInRight" data-wow-delay="200ms">
          <div class="cta-five__image">
            <img src="../assets/images/pintrest/poster.png" alt="Mazra">
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.cta-five -->
<!-- Service Start -->
<section class="service-one">
  <div class="service-one__shape">
  </div>
  <div class="container">
    <div class="sec-title text-center">
      <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
          style="background-image: url(assets/images/shapes/leaf.png);"></span>Our Best Services<span
          class="sec-title__tagline__right-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span>
      </h6>
      <!-- /.sec-title__tagline -->
      <h3 class="sec-title__title bw-split-in-left">Committed to Quality Across Agriculture & Innovation</h3>
    </div>
    <!-- /.sec-title -->
    <div class="row gutter-y-30">
      <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="50ms">
        <div class="service-one__item">
          <div class="service-one__item__content">
            <div class="service-one__item__icon">
              <span class="icon-gardening"></span>
            </div>
            <!-- /.service-icon -->
            <h3 class="service-one__item__title">
              <a routerLink="/institutional">institutional</a>
            </h3>
            <!-- /.service-title -->
            <p class="service-one__item__text">
              Boost agricultural education quality and watch your crops and knowledge grow
              stronger than ever!
            </p>
            <!-- /.service-text -->
            <a routerLink="/institutional" class="service-one__item__link">
              <i class="icofont-arrow-right"></i>
              Read more
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms">
        <div class="service-one__item">
          <div class="service-one__item__content">
            <div class="service-one__item__icon">
              <!-- <span class="icon-farmer"></span> -->
              <span> <img src="./assets/images/resources/residential.png" alt="" style="width: 60px;"></span>
            </div>
            <!-- /.service-icon -->
            <h3 class="service-one__item__title">
              <a routerLink="/residential">Residential</a>
            </h3>
            <p class="service-one__item__text">
              Wondering how to increase your annual revenue? We've got proven strategies that deliver real results!
            </p>
            <a routerLink="/residential" class="service-one__item__link">
              <i class="icofont-arrow-right"></i> Read more
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
        <div class="service-one__item">
          <div class="service-one__item__content">
            <div class="service-one__item__icon">
              <!-- <span class="icon-gardening"></span> -->
              <span> <img src="./assets/images/resources/lant-01.png" alt="" style="width: 60px;"></span>
            </div>
            <!-- /.service-icon -->
            <h3 class="service-one__item__title">
              <a routerLink="/commercial">Commercial</a>
            </h3>
            <!-- /.service-title -->
            <p class="service-one__item__text">
              Connecting Agriculture, Energy & Tourism creates a vibrant ecosystem driving opportunities and income.
            </p>
            <!-- /.service-text -->
            <a routerLink="/commercial" class="service-one__item__link">
              <i class="icofont-arrow-right"></i>
              Read more
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="150ms">
        <div class="service-one__item">
          <div class="service-one__item__content">
            <div class="service-one__item__icon">
              <span> <img src="./assets/images/resources/shop-01.png" alt="" style="width: 60px;"></span>
            </div>
            <!-- /.service-icon -->
            <h3 class="service-one__item__title">
              <a routerLink="/industrial">Industrial</a>
            </h3>
            <!-- /.service-title -->
            <p class="service-one__item__text">
              Organic Wellness Products: Pure, natural, and crafted with care to fuel your wellness journey.
            </p>
            <!-- /.service-text -->
            <a routerLink="/industrial" class="service-one__item__link">
              <i class="icofont-arrow-right"></i>
              Read more
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
    </div>
    <div class="service-one__bottom">
      <div class="row">
        <div class="col-lg-5">
          <div class="service-one__bottom__content">
            <h3 class="service-one__bottom__title">Grow with Mazra Care!</h3>
            <ul class="service-one__bottom__list">
              <li>
                <span class="service-one__bottom__list__icon"><i class="fas fa-check-circle"></i></span>
                Expert packing & quality checks
              </li>
              <li>
                <span class="service-one__bottom__list__icon"><i class="fas fa-check-circle"></i></span>
                Daily fresh deliveries
              </li>
              <li>
                <span class="service-one__bottom__list__icon"><i class="fas fa-check-circle"></i></span>
                Strong retail partnerships
              </li>
              <li>
                <span class="service-one__bottom__list__icon"><i class="fas fa-check-circle"></i></span>
                Expanding global exports
              </li>
            </ul>
            <a routerLink="/about" class="alefox-btn">
              <span class="alefox-btn__item"></span>
              <span class="alefox-btn__item"></span>
              <span class="alefox-btn__item"></span>
              <span class="alefox-btn__item"></span>
              See More
            </a>
          </div>
        </div>
        <div class="col-lg-7">
          <!-- <div class="service-one__bottom__image"> -->
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" src="assets/images/pintrest/home.jpg" alt="mazra">
            </div>
            <div class="col-md-6">
              <img class="img-fluid" src="assets/images/pintrest/home1.jpg" alt="mazra">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service End -->
<section class="video-one">
  <div class="video-one__bg video-one__video-wrapper">
    <video autoplay muted loop playsinline class="video-one__video">
        <source src="assets/images/video/green2.mp4" type="video/mp4" muted>
        Your browser does not support the video tag.
      </video>
  </div>
  <!-- /.video-one__bg -->
  <div class="video-one__shape" style="background-image: url(assets/images/shapes/video-shape-1.png);"></div>
  <div class="container">
    <!-- <a routerLink="/#" class="video-popup">
                  <i class="icon-play-button"></i>
                     <i class="ripple"></i>
               </a> -->
    <!-- /.video-one__btn -->
    <!-- <p class="video-one__sub-title">Watch Video Added</p> -->
    <h3 class="video-one__title">
      Pioneering Innovation in <br>Sustainable Farming
    </h3>

    <div class="d-flex w-100 justify-content-center">
      <a routerLink="/about" class="alefox-btn">
        <span class="alefox-btn__item"></span>
        <span class="alefox-btn__item"></span>
        <span class="alefox-btn__item"></span>
        <span class="alefox-btn__item"></span>
        Discover More
      </a>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.video-one -->
<section class="product-one">
  <div class="container">
    <div class="sec-title text-center">
      <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
          style="background-image: url(assets/images/shapes/leaf.png);"></span>Recently Added<span
          class="sec-title__tagline__right-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span>
      </h6>
      <!-- /.sec-title__tagline -->
      <h3 class="sec-title__title bw-split-in-left">Our Products</h3><br>
      <h5>From Our Farms to Your Kitchen – Fresh, Clean, and Sustainable</h5><br>
      <h5>Experience the richness of nature with our zero-pesticide vegetable bags grown in the UAE using modern
        hydroponics, aquaponics, and greenhouse farming methods. Every pack is filled with hand-picked, fresh produce,
        rich in nutrients, free from chemicals, and packed with love.</h5>
      <!-- /.sec-title__title -->
    </div>
    <!-- /.sec-title -->
    <div class="row gutter-y-30">
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
          <div class="product__item__img">
            <img src="assets\images\products\new_1.jpg" alt="mazra">
            <div class="product__item__flash">
              <span class="product__item__flash__off">20% Off</span>
            </div>
            <div class="product__item__btn">
              <a routerLink="/checkout"><i class="icon-shopping-cart"></i></a>
              <!-- <a routerLink="/#"><i class="far fa-heart"></i></a> -->
              <a routerLink="/product-details"><i class="fas fa-eye"></i></a>
            </div>
          </div>
          <!-- /.product-image -->
          <div class="product__item__content">
            <h4 class="product__item__title">L4 D30</h4>
            <!-- <p>Perfect for singles or couples </p> -->
            <!-- /.product-title -->
            <!-- <div class="product__item__price">10.00</div> -->
            <!-- /.product-price -->
            <!-- <div class="product__item__ratings">
                <span class="icofont-star"></span><span class="icofont-star"></span><span
                  class="icofont-star"></span><span class="icofont-star"></span><span class="icofont-star"></span>
              </div> -->
            <!-- /.product-ratings -->
          </div>
          <!-- /.product-content -->
        </div>
        <!-- /.product-item -->
      </div>
      <!-- /.col-md-6 col-lg-4 -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='50ms'>
          <div class="product__item__img">
            <img src="assets\images\products\new_2.jpg" alt="mazra">
            <div class="product__item__btn">
              <a routerLink="/#"><i class="icon-shopping-cart"></i></a>
              <!-- <a routerLink="/#"><i class="far fa-heart"></i></a> -->
              <a routerLink="/#"><i class="fas fa-eye"></i></a>
            </div>
          </div>
          <!-- /.product-image -->
          <div class="product__item__content">

            <h4 class="product__item__title">L4 D31</h4>
            <!-- <p>For 3–5 member families</p> -->
            <!-- /.product-title -->
            <!-- <div class="product__item__price">₹ 11.00</div> -->
            <!-- /.product-price -->
            <!-- <div class="product__item__ratings">
                <span class="icofont-star"></span><span class="icofont-star"></span><span
                  class="icofont-star"></span><span class="icofont-star"></span><span class="icofont-star"></span>
              </div> -->
            <!-- /.product-ratings -->
          </div>
          <!-- /.product-content -->
        </div>
        <!-- /.product-item -->
      </div>
      <!-- /.col-md-6 col-lg-4 -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
          <div class="product__item__img">
            <img src="assets\images\products\new_3.jpg" alt="mazra">
            <div class="product__item__flash">
              <span class="product__item__flash__off">20% Off</span>
            </div>
            <div class="product__item__btn">
              <a routerLink="/#"><i class="icon-shopping-cart"></i></a>
              <!-- <a routerLink="/#"><i class="far fa-heart"></i></a> -->
              <a routerLink="/#"><i class="fas fa-eye"></i></a>
            </div>
          </div>
          <!-- /.product-image -->
          <div class="product__item__content">

            <h4 class="product__item__title">L4 D32</h4>
            <!-- <P>Meal prep made easy</P> -->
            <!-- /.product-title -->
            <!-- <div class="product__item__price">10.00</div> -->
            <!-- /.product-price -->
            <!-- <div class="product__item__ratings">
                <span class="icofont-star"></span><span class="icofont-star"></span><span
                  class="icofont-star"></span><span class="icofont-star"></span><span class="icofont-star"></span>
              </div> -->
            <!-- /.product-ratings -->
          </div>
          <!-- /.product-content -->
        </div>
        <!-- /.product-item -->
      </div>
      <!-- /.col-md-6 col-lg-4 -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="product__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='150ms'>
          <div class="product__item__img">
            <img src="assets\images\products\new_4.jpg" alt="mazra">
            <div class="product__item__btn">
              <a routerLink="/#"><i class="icon-shopping-cart"></i></a>
              <!-- <a routerLink="/#"><i class="far fa-heart"></i></a> -->
              <a routerLink="/#"><i class="fas fa-eye"></i></a>
            </div>
          </div>
          <!-- /.product-image -->
          <div class="product__item__content">

            <h4 class="product__item__title">L4 D33</h4>
            <!-- <P>Ideal for parties, bulk users, restaurants</P> -->
            <!-- /.product-title -->
            <!-- <div class="product__item__price">₹ 12.00</div> -->
            <!-- /.product-price -->
            <!-- <div class="product__item__ratings">
                <span class="icofont-star"></span><span class="icofont-star"></span><span
                  class="icofont-star"></span><span class="icofont-star"></span><span class="icofont-star"></span>
              </div> -->
            <!-- /.product-ratings -->
          </div>
          <!-- /.product-content -->
        </div>
        <!-- /.product-item -->
      </div>
    </div>
  </div>
</section>
<!-- /.col-md-6 col-lg-4 -->
<section class="testimonials-two">
  <div class="testimonials-two__bg" style="background-image: url(assets/images/shapes/testimonials-bg-shape-2.png);">
  </div>
  <div class="container">
    <div class="sec-title text-center">
      <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
          style="background-image: url(assets/images/shapes/leaf.png);"></span>OUR TESTIMONIALS<span
          class="sec-title__tagline__right-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span>
      </h6>
      <!-- /.sec-title__tagline -->
      <h3 class="sec-title__title bw-split-in-left">Voices of Our Clients</h3>
      <!-- /.sec-title__title -->
    </div>
    <!-- /.sec-title -->
    <div class="testimonials-two__wrapper">
      <div class="testimonials-two__wrapper__quote"></div>
      <div class="testimonials-two__carousel" #mainCarousel>
        <div class="testimonials-two__item" *ngFor="let t of testimonials">
          <div class="testimonials-two__item__ratings">
            <i class="icofont-star" *ngFor="let s of [1,2,3,4,5]"></i>
          </div>
          <div class="testimonials-two__item__quote">
            “{{ t.quote }}”
          </div>
        </div>
      </div>
      <!-- testimonial-content -->
      <div class="testimonials-two__carousel-thumb" #thumbCarousel>
        <div class="item" *ngFor="let t of testimonials">
          <span class="testimonials-two__meta-thumb">
            <img [src]="t.img" alt="mazra" />
          </span>
          <span class="testimonials-two__meta">
            <span class="testimonials-two__meta__name">{{ t.name }}</span>
            <span class="testimonials-two__meta__designation">{{ t.designation }}</span>
          </span>
        </div>
      </div>
      <!-- Testimonial Thumb -->
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.testimonials-two -->
<section class="project-two">
  <div class="container container-center">
    <div class="sec-title text-center">
      <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
          style="background-image: url(assets/images/shapes/leaf.png);"></span>Our Projects<span
          class="sec-title__tagline__right-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span>
      </h6>
      <!-- /.sec-title__tagline -->
      <h3 class="sec-title__title bw-split-in-left">Explore These Projects</h3>
      <!-- /.sec-title__title -->
    </div>
    <!-- /.sec-title -->
    <div #projectCarousel class="project-two__carousel">
      <div class="item" *ngFor="let item of projectSlides">
        <div class="project-two__item">
          <img [src]="item.img" alt="mazra" />
          <div class="project-two__item__content">
            <h5 class="project-two__item__title">
              <a [routerLink]="item.link">{{ item.title }}</a>
            </h5>

            <a [routerLink]="item.link" class="project-two__item__rm">
              <i class="icofont-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.project-two -->
<section class="why-choose-one">
  <div class="why-choose-one__shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <div class="alefox-stretch-element-inside-column">
          <div class="why-choose-one__image wow slideInLeft">
            <img src="../assets/images/resources/core-tech.png" class="img-fluid w-100" alt="mazra">
            <div class="why-choose-one__video">
              <a routerLink="/https://www.youtube.com/watch?v=VDH9aBrbAo0&feature=youtu.be" class="video-popup">
                <i class="icofont-ui-play"></i>
              </a>
            </div>
          </div>
          <!-- /.why-choose-one__image -->
        </div>
        <!-- /.stretch-element-inside-column -->
      </div>
      <!-- /.col-xl-6 -->
      <div class="col-xl-5">
        <div class="why-choose-one__content pt-5 pb-5">
          <div class="sec-title text-left">
            <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
                style="background-image: url(assets/images/shapes/leaf.png);"></span>Mazra Care Technologies
              <span class="sec-title__tagline__right-leaf"
                style="background-image: url(assets/images/shapes/leaf.png);"></span>
            </h6>
            <!-- /.sec-title__tagline -->
            <h3 class="sec-title__title bw-split-in-left">Core Technology
            </h3>
            <!-- /.sec-title__title -->
          </div>
          <!-- /.sec-title -->
          <h5 class="why-choose-one__text">
            MAZRA CARE System integrates:
          </h5>
          <!-- /.why-choose-one__text -->
          <ul class="about-three__content__list">
            <li><span class="icon-check-mark"></span> Hydroponics & Aquaponics.
            </li>
            <li><span class="icon-check-mark"></span> Precision-controlled LED lighting.
            </li>
            <li><span class="icon-check-mark"></span>Intelligent nutrient delivery.
            </li>
            <li><span class="icon-check-mark"></span>Water recycling systems.
            </li>
            <li><span class="icon-check-mark"></span>Environmental sensors for self-regulating ecosystems.
            </li>
          </ul>


          <h5 class="why-choose-one__text pt-2">
            Technological advancements include:
          </h5>
          <!-- /.why-choose-one__text -->
          <ul class="about-three__content__list">
            <li><span class="icon-check-mark"></span>Robotic automation.
            </li>
            <li><span class="icon-check-mark"></span>Mobile app control.
            </li>
            <li><span class="icon-check-mark"></span> AI-powered optimization.
            </li>
            <li><span class="icon-check-mark"></span>Secure cloud integration for remote access & insights.
            </li>
          </ul>


          <!-- /.list-unstyled why-choose-one__list -->
        </div>
        <!-- /.why-choose-one__content -->
      </div>
      <!-- /.col-xl-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.why-choose-one -->
<section class="blog-one">
  <div class="container">
    <div class="sec-title text-center">
      <h6 class="sec-title__tagline bw-split-in-right"><span class="sec-title__tagline__left-leaf"
          style="background-image: url(assets/images/shapes/leaf.png);"></span>From the Blog<span
          class="sec-title__tagline__right-leaf" style="background-image: url(assets/images/shapes/leaf.png);"></span>
      </h6>
      <!-- /.sec-title__tagline -->
      <h3 class="sec-title__title bw-split-in-left">Latest News & Articles</h3>
      <!-- /.sec-title__title -->
    </div>
    <!-- /.sec-title -->
    <!-- slick carousel for blogs -->
    <div class="row blog-one__carousel alefox-owl__carousel alefox-owl__carousel--with-shadow alefox-owl__carousel--basic-nav owl-carousel owl-theme">
      <div class="item col-md-4 col-sm-12" *ngFor="let blog of blogDetails; let i = index" [hidden]="i >= 3">
       <div class="blog-card">
          <div class="blog-card__image">
            <img src="../assets/images/blog/blog-1-1.jpg" class="img-fluid" alt="This Leader in Organic Agriculture Growth" />
            <img src="../assets/images/blog/blog-1-1.jpg" class="img-fluid" alt="This Leader in Organic Agriculture Growth" />
            <!-- <a routerLink="/#" class="blog-card__image__link">
              <span class="sr-only">
                Cultivating a Greener Future with Mazra Care’s Smart Farming Solutions
              </span>
            </a> -->
          </div>
          <div class="blog-card__content">
            <ul class="list-unstyled blog-card__meta">
              <li><i class="icofont-ui-user"></i>{{ blog.author }}</li>
            </ul>
            <h3 class="blog-card__title"><a>{{ blog.tittle }}</a></h3>
            <p class="blog-card__text">{{ blog.content }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- /.container -->
  </div>
</section>
<!-- /.blog-one -->
<section class="cta-one">
  <div class="cta-one__shape"></div>
  <div class="container wow fadeInUp">
    <h3 class="cta-one__title">
      Grow with Mazra Care!
    </h3>
    <p class="cta-one__text">
      Ready to boost your farm’s productivity and sustainability? <br> Mazra Care brings innovative farming
      solutions, fresh produce, and a wide distribution network right to your doorstep!
    </p>
    <div class="w-100 d-flex justify-content-center">
      <a routerLink="/contact" class="alefox-btn">
        <span class="alefox-btn__item"></span>
        <span class="alefox-btn__item"></span>
        <span class="alefox-btn__item"></span>
        <span class="alefox-btn__item"></span>
        Discover More
      </a>
    </div>
  </div>
</section>
<!-- /.cta-one -->
