    <section class="page-header">
        <div class="page-header__shape-left"></div>
        <div class="page-header__shape-right"></div>
        <div class="page-header__bg"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title bw-split-in-down">Institutional</h2>
            <ul class="alefox-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>Institutional</span></li> <br>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
            <br>
            <ul class="subpoints">
                <h5>
                    <li>Engages the Next Generation with Real-World
                        Learning.
                    </li>
                    <li>Promotes Health, Sustainability, and
                        Community Empowerment.
                    </li>
                </h5>
            </ul>

        </div><!-- /.container -->
    </section><!-- /.page-header -->


    <!-- Service Start -->
    <section class="service-two">
        <div class="container">
            <h3 class="service-details__heading">Educate, Feed, and Empower Communities Through Farming.</h3>
            <!-- /.service-details__heading -->
            <p class="service-details__text">
                Educate students in future-ready farming and sustainability.</p>
            <!-- /.service-details__text -->
            <div class="row gutter-y-30">
                <div class="col-lg-3 col-md-6">
                    <div class="service-two__item wow fadeInUp" data-wow-delay="00ms">
                        <div class="service-two__item__image">
                            <img src="assets/images/pintrest/agri1.jpg" alt="Mazra">
                        </div>
                        <div class="mt-0 service-two__item__content">
                            <h3 class="service-two__item__title">
                                <a (click)="routerLink(1)">Community Nutrition Gardens</a>
                            </h3><!-- /.service-title -->
                            <p class="service-two__item__text">
                                Provide access to fresh food in low-income areas. </p><!-- /.service-text -->
                            <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                        </div>
                    </div><!-- /.service-item -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-two__item wow fadeInUp" data-wow-delay="100ms">
                        <div class="service-two__item__image">
                            <img src="assets/images/pintrest/school.jpg" alt="Mazra">
                        </div>
                        <div class="mt-0 service-two__item__content">

                            <h3 class="service-two__item__title">
                                <a (click)="routerLink(2)">Training & Skill Development Farms</a>
                            </h3><!-- /.service-title -->
                            <p class="service-two__item__text">
                                Hands-on learning hubs to upskill youth and women.</p>
                            <!-- /.service-text -->
                            <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                        </div>
                    </div><!-- /.service-item -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-two__item wow fadeInUp" data-wow-delay="200ms">
                        <div class="service-two__item__image">
                            <img src="assets/images/pintrest/agri.jpg" alt="Mazra">
                        </div>
                        <div class="mt-0 service-two__item__content">
                            <h3 class="service-two__item__title">
                                <a (click)="routerLink(3)">Public Parks & Urban Farms</a>
                            </h3><!-- /.service-title -->
                            <p class="service-two__item__text">
                                Showcase innovation while contributing to food security. </p><!-- /.service-text -->
                            <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                        </div>
                    </div><!-- /.service-item -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-two__item wow fadeInUp" data-wow-delay="300ms">
                        <div class="service-two__item__image">
                            <img src="assets/images/pintrest/instit.jpg" alt="Mazra">
                        </div>
                        <div class="mt-0 service-two__item__content">
                            <h3 class="service-two__item__title">
                                <a (click)="routerLink(4)">Agri-Lab Units for Schools</a>
                            </h3><!-- /.service-title -->
                            <p class="service-two__item__text">
                                Educate students in future-ready farming and sustainability. </p>
                            <!-- /.service-text -->
                            <!-- <a href="products.html" class="service-two__item__link">
                                    <i class="icofont-arrow-up"></i>
                                </a> -->
                        </div>
                    </div><!-- /.service-item -->
                </div>
            </div>
        </div>
    </section>
    <!-- Service End -->


    <section class="pt-5" style="margin-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-sm-12">
                    <img src="assets/images/resources/ins.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-lg-3 col-sm-12">
                    <img src="assets/images/resources/ins1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-lg-3 col-sm-12">
                    <img src="assets/images/resources/ins2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-lg-3 col-sm-12">
                    <img src="assets/images/resources/ins3.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 pt-4">
                    <!-- <video autoplay muted loop playsinline style="max-width: 100%; height: auto; ">
                        <source src="assets/images/video/Students.mp4" type="video/mp4">
                        Your browser does not support the video tag.

                    </video> -->
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 pt-4">
                    <!-- <video autoplay muted loop playsinline style="max-width: 100%; height: auto; ">
                        <source src="assets/images/video/demo1.mp4" type="video/mp4">
                        Your browser does not support the video tag.

                    </video> -->
                </div>
            </div>
        </div>
    </section>
