     <section class="page-header">
        <div class="page-header__shape-left"></div>
        <div class="page-header__shape-right"></div>
        <div class="page-header__bg"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2 class="page-header__title bw-split-in-down">Blog Details</h2>
            <ul class="alefox-breadcrumb list-unstyled">
                <li><a routerLink="/home">Home</a></li>
                <li><span>Blog</span></li> <br>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
            <br>

        </div><!-- /.container -->
    </section><!-- /.page-header -->
 

     <section class="blog-details">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="blog-details__content">
                            <div class="blog-details__image">
                                <img src="../../../assets/images/blog/blog-1-1.jpg" alt="Mazra">
                            </div><!-- /.blog-card__image -->
                            <ul class="list-unstyled blog-details__top-meta">
                                <li class="blog-details__top-meta__cats"><a >Organic</a></li>
                                <li><i class="icofont-ui-user"></i>Admin: <a >Lorat</a></li>
                                <li><i class="icofont-ui-calendar"></i>02 Sep 2024</li>
                            </ul><!-- /.list-unstyled blog-card__top-meta -->
                            <h3 class="blog-details__title">This Leader in Organic Agriculture Growth</h3>
                            <p class="blog-details__text">
                                There are many variations of passages agency we have covered many special events such as
                                fireworks, fairs, parades, races, walks, a Lorem Ipsum Fasts injecte dedicated product design
                                team can help you achieve your business goals. Whether you need to craft an idea for a
                                completely new product or elevate the quality of an existing solution, we’ll help you to
                                create a product that is laser targeted to your users’ needs and business results
                            </p><!-- /.blog-details__text -->
                            <p class="blog-details__text">
                                There are many variations of passages agency we have covered many special events such as
                                fireworks, fairs, parades, races, walks, a Lorem Ipsum .
                            </p><!-- /.blog-details__text -->
                            <p class="blog-details__text">
                                This are many variations of passages agency we have covered many special events such as
                                fireworks, fairs, parades, races, walks, a Lorem Ipsumpassages agency we have covered
                                fireworks, fairs, parades, races, walks, a Lorem Ipsum Fasts injecte.
                            </p><!-- /.blog-details__text -->
                           
                        </div><!-- /.blog-details -->

                        
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one blog-one--page -->

